#container
  #header
    img(src='./assets/clique-logo.png')
  #nav-bar
    input#home-nav(type="radio", name="nav-bar")
    label(for="home-nav") Home
    input#about-nav(type="radio", name="nav-bar")
    label(for="about-nav") About
    input#api-nav(type="radio", name="nav-bar")
    label(for="api-nav") API
    input#download-nav(type="radio", name="nav-bar")
    label(for="download-nav") Downloads
    input#spec-nav(type="radio", name="nav-bar")
    label(for="spec-nav") Spectral Analyzer
    input#git-nav(type="radio", name="nav-bar")
    label(for="git-nav") Git Repo
  #center-zone.rounded-corners
    h2 About Clique
    p 
      | Clique represents a multi-disciplinary senior project for LMU's own Andrew Forney:
      | CMSI 402. The project began as a research collaboration between Drs. Edward Mosteig
      | and David Uminski (advice from Michael Orrison as well), who in turn brought Andrew on board.
      | Now, the goal of the project is twofold: (1) to provide a robust linear algebra library for 
      | JavaScript, and (2) to employ this library in a statistical analysis technique for wide 
      | consumption via web app.
    p
      | Towards this end, the project is divided into two sections: the Clique Linear Algebra Library
      | and the Clique Spectral Analyzer. Drs. Mosteig and Uminski will act as advisors on the library
      | with collaboration from Mike Megally and Drs. Toal, Dondi, and Dorin on the programmatic aspects.
      | To discover more about Clique's development, check its 
      a(href="https://github.com/Forns/clique/wiki", target="_blank") Git Wiki!
