#container
  #header
    img(src='./assets/clique-logo.png')
  #nav-bar
  #center-zone.rounded-corners
    h2 Application Programming Interface: Clique
    p 
      | The Clique API is divided into several sections (Complex, Matrix, Vector, Sparse) all listed
      | in the API Navigation window. The Matrix and Vector listings are largely written by
      | the Sylvester author, © 2007 James Coglan, but have been customized or added for Clique.
    
#api-list
  #accordion
#nav-button API Navigation