#container
  #header
    img(src='./assets/clique-logo.png')
  #nav-bar
  #center-zone.rounded-corners
    h2 Application Programming Interface: Clique
    p 
      | The Clique API is divided into several sections (Complex, Matrix, Vector) all listed
      | in the API Navigation window. The Matrix and Vector listings are largely written by
      | the Sylvester author, © 2007 James Coglan, but have been customized or added for Clique.
  
  #complex.main-section.rounded-corners
    h1.ui-dialog-titlebar.ui-widget-header.rounded-corners Complex
    p Coming soon!
  
  #matrix.main-section.rounded-corners
    h1.ui-dialog-titlebar.ui-widget-header.rounded-corners Matrix
    p Coming soon!

  #vector.main-section.rounded-corners
    h1.ui-dialog-titlebar.ui-widget-header.rounded-corners Vector
    p Coming soon!
    
#api-list
  #accordion
    h3
      a(href="#") Complex
    div
      p Coming soon!
    h3
      a(href="#") Matrix
    div
      p Coming soon!
    h3
      a(href="#") Vector
    div
      p Coming soon!
#api-nav-button API Navigation