#container
  #header
    img(src='./assets/clique-logo.png')
  #nav-bar
  #center-zone.rounded-corners
    h2 Application Programming Interface: Clique
    p 
      | The Clique API is divided into several sections (Complex, Matrix, Vector) all listed
      | in the API Navigation window. The Matrix and Vector listings are largely written by
      | the Sylvester author, © 2007 James Coglan, but have been customized or added for Clique.
  
  #complex.main-section.rounded-corners
    h1.ui-dialog-titlebar.ui-widget-header.rounded-corners Complex
  
  #matrix.main-section.rounded-corners
    h1.ui-dialog-titlebar.ui-widget-header.rounded-corners Matrix

  #vector.main-section.rounded-corners
    h1.ui-dialog-titlebar.ui-widget-header.rounded-corners Vector
    
#api-list
  #accordion
    h3
      a#complex-tab(href="#") Complex
    div#complex-navigation
    h3
      a#matrix-tab(href="#") Matrix
    div#matrix-navigation
    h3
      a#vector-tab(href="#") Vector
    div#vector-navigation
#api-nav-button API Navigation