#container
  #header
    img(src='./assets/clique-logo.png')
  #nav-bar
  #center-zone.rounded-corners.center-zone-right-addon
    #download-box.ui-widget-content.rounded-corners
      h2 Download Clique
      hr
      button#clique-src clique.js
    h2 Download Your Favorite Flavour of Clique
    p 
      | Various versions of clique.js may become available here as they are released. 
      | Check back whenever you feel like it or whatever.
    p
      | I might also update the change log every once and while so... there's that.

  #comments.main-section.rounded-corners
    h1.ui-dialog-titlebar.ui-widget-header.rounded-corners Change Log
    h2 [LIVE] Version 1.0
    h3 Notes:
    p 
      | The first version of Clique! So cute! Has basic functionality with improved 
      | Complex number integration and some rare linear algebra functions.
    h3 Known Bugs:
    p
      | A better list of these can be found in the Git Repo (see navigation above):
      ul
        li Some functions of Clique will not operate completely accurately with Complex numbers
        li Some functions of Clique will not operate with Sparse Matrices--at the moment, they're more storage