#container
  #header
    img(src='./assets/clique-logo.png')
  #nav-bar
    input#home-nav(type="radio", name="nav-bar")
    label(for="home-nav") Home
    input#about-nav(type="radio", name="nav-bar")
    label(for="about-nav") About
    input#api-nav(type="radio", name="nav-bar")
    label(for="api-nav") API
    input#download-nav(type="radio", name="nav-bar")
    label(for="download-nav") Downloads
    input#spec-nav(type="radio", name="nav-bar")
    label(for="spec-nav") Spectral Analyzer
    input#git-nav(type="radio", name="nav-bar")
    label(for="git-nav") Git Repo
  #center-zone.rounded-corners
    h2 This section is under construction. Check back soon!
