#main
  h1 Clique
  p Enjoy this bootleg index for Clique!
  p Enter data below to take things for a spin:
  #browser-support
  #file-upload
  textarea#data-entry Enter your data here
  br
  button#submit-button Submit!
script(src='./js/display/index-display.js')