#container
  #header
    img(src='./assets/clique-logo.png')
  #nav-bar
  #center-zone.rounded-corners.center-zone-right-addon
    #download-box.ui-widget-content.rounded-corners
      h2 Download Clique
      hr
      button#clique-src clique.js
    h2 Clique: Linear Algebra Gets JavaScripty
    p Clique represents a two-sided effort: 
    ol
      li A generalized, powerful linear algebra library for use in any Javascript application
      li An application of said library to a new statistical method for analyzing trends in large data sets
    p 
      | Although initial efforts involved approval voting data, the present attempt will expand the possibilities 
      | of the statistical technique to analyze a wider variety of information types while making the tool available to all.
  #comments.main-section.rounded-corners
    h1.ui-dialog-titlebar.ui-widget-header.rounded-corners Clique Reviews
    p "Clique saved my marriage. Finally I can spend time with my family and not worry about JavaScript Linear Algebra." -Brian H.
    p "It's a great product--really a clique I don't mind joining... and I've been in a lot of cliques." -David H.
    p "My band played at Clique once. Was a tight venue." -Don R.
    p "This project never really Clique'd. F-!" -Mike M.
  #feedback.main-section.rounded-corners
    h1.ui-dialog-titlebar.ui-widget-header.rounded-corners Contact Me
    p Confused about something in Clique? Inconceivable, the documentation is flawless--go look again.
    p Honestly need to contact me? K fine: a clique-related email will go here soon
