!!! 5
html
  head
    title Clique: Linear Algebra Gets Javascripty
    link(rel='stylesheet', href='/css/main.css')
    link(rel='stylesheet', href='/css/jquery-ui-1.8.17.custom.css')
    script(src='../js/lib/jquery-1.7.1.min.js')
    script(src='../js/lib/jquery-ui-1.8.17.custom.min.js')
    script(src='../js/util/include.js')
    script(src='../js/util/init.js')
  body!= body
