#container
  #header
    img(src='./assets/clique-logo.png')
  #nav-bar
  #center-zone.rounded-corners.center-zone-right-addon
    #download-box.ui-widget-content.rounded-corners
      h2 Results Management
      hr
      button#results-delete Delete
    h2 Spectral Analysis Results
    p 
      | The Clique Spectral Analyzer has computed the following results for your 
      | given data.
    
#results-options
#nav-button Results Navigation