!!! 5
html
  head
    title Clique Unit Test Suite
    link(rel='stylesheet', href='http://code.jquery.com/qunit/git/qunit.css')
    script(src='./js/util/include.js')
    script(src='http://code.jquery.com/jquery-latest.min.js')
    script(src='http://code.jquery.com/qunit/git/qunit.js')
    script(src='./js/dist/clique.js')
    script(src='./js/test/front-end-test.js')
  body
    h1 Clique Front-End Test Suite
      br
      a(href="./js/test/front-end-test.js") See the test code being run
    h2(id='qunit-banner')
    #qunit-testrunner-toolbar
    h2(id='qunit-userAgent')
    ol(id='qunit-tests')
